.event-links-grid {
  display: grid;
  grid-template-areas:
    '.        price'
    'facebook tickets';
  width: 100%;
}

.facebook-btn { 
  grid-area: facebook; 
}

.tickets-btn { 
  grid-area: tickets; 
}

.price-text { 
  justify-self: center;
  align-self: end;
  grid-area: price; 
} 