---
// import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css'
import { EventCard } from './EventCard'
import events from '@/assets/events.json'
---

<Layout>
	<div class="grid grid-cols-1 md:grid-cols-2 gap-8 place-items-center max-w-4xl mx-auto">
		{events.map((event) => (
			<EventCard client:load event={event} />
		))}
	</div>
</Layout>
	
	