---
import Marquee from "../components/ui/marquee";
import { ParticlesComponent } from "../components/Particles"
const headerContent = `
  <span class="text-xl md:text-2xl lg:text-4xl tracking-widest font-bold flex space-x-4 leading-10">
    <span class="bg-gradient-to-tr from-primary-gold-300 to-primary-gold-600 text-transparent bg-clip-text">KVARTERET 30 ÅR</span>
    <img src="dak.svg" alt="DAK separator" class="inline h-10" />
    <span class="bg-gradient-to-tr from-primary-gold-300 to-primary-gold-600 text-transparent bg-clip-text">JUBILEUMSUKE</span>
    <img src="dak.svg" alt="DAK separator" class="inline h-10 pr-4" />
  </span>
`
---

<!DOCTYPE html>
<html class="subpixel-antialiased" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/dak.svg" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://cdn.counter.dev/script.js" data-id="4a3264f6-49dd-4836-954c-c8152fdcfb61" data-utcoffset="1"></script>
    <title>Kvarteret 30 År</title>
  </head>
  
  <body class="bg-black text-primary-gold font-glacial mx-auto">
	  <ParticlesComponent client:load />
	  <header class="sticky top-0">
		<div class="backdrop"></div>
		  <Marquee className="py-4 [--duration:60s] [--gap:0rem]">
			<div set:html={headerContent}></div>
		  </Marquee>
	  </header>

	  <main class="max-w-6xl mx-auto p-8">
		<slot />
	  </main>

    <footer class="w-full p-6 text-center place-content-center flex flex-wrap space-x-4">
      <span>Med 💛 fra E-tjenesten og Jubileumskomiteen</span>
	  <span class="invisible sm:visible">|</span>
	  <span><a
        class="font-bold underline"
        href="https://blifrivillig.no">Bli frivillig!</a
      >
	</span>
    </footer>
  </body>

  <!-- https://www.joshwcomeau.com/css/backdrop-filter/ -->
  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }

    @supports (backdrop-filter: blur(16px)) or (-webkit-backdrop-filter: blur(16px)) {

      .backdrop {
        position: absolute;
        inset: 0;
        -webkit-backdrop-filter: blur(16px);
        backdrop-filter: blur(16px);
        background: linear-gradient(
          to bottom,
          transparent 50%
        );
        pointer-events: none;
      }
    }

    @supports (mask-image: none) or (-webkit-mask-image: none) {
      .backdrop {
        height: 200%;
        -webkit-mask-image: linear-gradient(
          to bottom,
          black 0% 0%,
          transparent 50% 100%
        );
        mask-image: linear-gradient(
          to bottom,
          black 0% 50%,
          transparent 50% 100%
        );
      }
      .backdrop-edge {
        height: 100%;
        inset: 0;
        -webkit-mask-image: linear-gradient(
          to bottom,
          black 0,
          black var(--thickness),
          transparent var(--thickness)
        );
        mask-image: linear-gradient(
          to bottom,
          black 0,
          black var(--thickness),
          transparent var(--thickness)
        );
      }
    }
  </style>

</html>
