---
import Marquee from "../components/ui/marquee";

const headerContent = `
  <span class="text-4xl tracking-widest font-bold flex space-x-4 leading-10">
    <span class="bg-gradient-to-tr from-primary-gold-300 to-primary-gold-600 text-transparent bg-clip-text">KVARTERET 30 ÅR</span>
    <img src="dak.svg" alt="DAK separator" class="inline h-10" />
    <span class="bg-gradient-to-tr from-primary-gold-300 to-primary-gold-600 text-transparent bg-clip-text">JUBILEUMSUKE</span>
    <img src="dak.svg" alt="DAK separator" class="inline h-10 pr-4" />
  </span>
`
---

<!DOCTYPE html>
<html class="subpixel-antialiased" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>

  <body class="bg-black text-primary-gold font-glacial mx-auto">
    <header>
      <div class="bg-black overflow-x-hidden py-4">
        <Marquee className="[--duration:60s] [--gap:0rem]">
		  <div set:html={headerContent}></div>
        </Marquee>
      </div>
    </header>

    <slot />

    <footer class="bg-black fixed bottom-0 w-full p-4 text-center">
      Med 💛 fra E-tjenesten og Jubileumskomiteen | <a
        class="font-bold underline"
        href="https://blifrivillig.no">Bli frivillig!</a
      >
    </footer>
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>

</html>
